.flex {
    display: flex;
    flex: 1 0 auto;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
}
[class^='flex'].wrap {
    flex-wrap: wrap;
}

.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-h {
    display: flex;
    flex-flow: row nowrap;
}

.container-v {
    display: flex;
    flex-flow: column nowrap;
}

.container-h.wrap,
.container-v.wrap {
    flex-wrap: wrap;
}

.container-v.gap>*:not(:first-child):not(:empty) {
    margin-top: 0.5em;
}

.container-h.gap>*:not(:first-child):not(:empty) {
    margin-left: 0.5em;
}

.content-flex {
    flex: 1 1 auto;
}

.items-end {
    align-items: flex-end;
}

.items-start {
    align-items: flex-start;
}

.items-stretch {
    align-items: stretch;
}

.items-center {
    align-items: center;
}

.align-end {
    align-content: flex-end;
}

.align-start {
    align-content: flex-start;
}

.align-center {
    align-content: center;
}

.align-between {
    align-content: space-between;
}

.align-around {
    align-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.self-auto {
    align-self: auto;
}

.self-baseline {
    align-self: baseline;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

.self-start {
    align-self: flex-start;
}

.self-stretch {
    align-self: stretch;
}

//-------------------  Usage ---------------------------------------//

    <div margin-top class="container-h gap">
      <mat-form-field class="content-flex">
        <input matInput placeholder="First Name" formControlName="FirstName">
      </mat-form-field>
      <mat-form-field class="content-flex">
        <input matInput placeholder="Last Name" formControlName="LastName">
      </mat-form-field>
    </div>

    <div margin-top class="container-h gap">
      <mat-form-field class="content-flex">
        <input matInput placeholder="Title" formControlName="Title">
      </mat-form-field>
      <mat-form-field class="content-flex">
        <input matInput placeholder="Company" formControlName="Company">
      </mat-form-field>
    </div>

    <mat-form-field margin-top>
      <input matInput placeholder="Address" formControlName="Address">
    </mat-form-field>

    <div margin-top class="container-h gap">
      <mat-form-field class="content-flex">
        <input matInput placeholder="City" formControlName="City">
      </mat-form-field>
      <mat-form-field class="content-flex">
        <input matInput placeholder="State" formControlName="State">
      </mat-form-field>
      <mat-form-field class="content-flex">
        <input matInput placeholder="Zipcode" formControlName="Zip">
      </mat-form-field>
    </div>

    <div margin-top class="container-h gap">
      <mat-form-field class="content-flex">
        <input matInput placeholder="Telephone" formControlName="Phone">
      </mat-form-field>
      <mat-form-field class="content-flex">
        <input matInput placeholder="Country" formControlName="Country">
      </mat-form-field>
    </div>

    <div margin-top class="container-h gap justify-center center-align">
      <ion-button color="primary" fill="outline" (click)="close()">Cancel</ion-button>
      <ion-button color="primary" (click)="saveProfile()">Save Profile</ion-button>
    </div>
//-------------------  Usage ---------------------------------------//
