@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'node_modules/font-awesome/css/font-awesome.min.css';
@import "node_modules/angular-calendar/css/angular-calendar.css";

.my-navbar {
    min-height: 3.5rem;
    background-color: #dc3545!important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #eee;
}

a {
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
}